[submodule "_lib/arduinoUbiquitous"]
	path = _lib/arduinoUbiquitous
	url = git@github.com:mirage335/arduinoUbiquitous.git
[submodule "_lib/Marlin-LulzBot-Snapshot"]
	path = _lib/Marlin-LulzBot-Snapshot
	url = git@github.com:mirage335/Marlin-LulzBot-Snapshot.git
[submodule "_lib/Marlin-LulzBot-Snapshot-TagExample"]
	path = _lib/Marlin-LulzBot-Snapshot-TagExample
	url = git@github.com:mirage335/Marlin-LulzBot-Snapshot.git
